body {
    background-color: #f0ece2;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 500px;
    padding: 50px;
    margin: 60px auto;
    background-color: #dfd3c3;
    box-shadow: 7px 8px 9px rgb(223, 211, 195, 0.3);
    border-radius: 5px;
}

select {
    display: block;
    width: 92%;
    border-radius: 5px;
    border-color: 3px solid #c1b19b;
    padding: 5px;
    background-color: #f2e4d2;
}

h1 {
    text-align: center;
    color: #596e79;
    font-size: 30px;
    margin-bottom: 0 auto;
}

h2 {
    color: #596e79;
    margin-top: 20px;
    margin-bottom: 2px;
    font-size: 21px;
}

h3 {
    color: #596e79;
    margin-top: 7px;
    margin-bottom: 2px;
    font-size: 24px;
   
}

.date {
    color: #6695ad;
    font: 15px;
    line-height: 10px;
}

.city {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px dashed rgb(223, 211, 195, 0.5);
    padding: 7px;
    margin: 10px 0;
}

.time {
    color: #285f7a;
    font: 21px;
    line-height: 17px;
    font-weight: bold;
}

footer {
    color: #c7b198;
    font-size: 17px;
    line-height: 11px;
    text-align: center;
}