body {
    background-color: #f0ece2;
}

.container {
    max-width: 500px;
    padding: 50px;
    margin: 60px auto;
    background-color: #dfd3c3;
    box-shadow: 7px 8px 9px rgb(223, 211, 195, 0.3);
    border-radius: 5px;
}

select {
    display: block;
    width: 90%;
    border-radius: 5px;
    padding: 5px;
    background-color: #f0ece2;
}

h1 {
    text-align: center;
    color: #596e79;
    font-size: 30px;
}

h2 {
    color: #596e79;
    margin: 0 0 7px;
    font-size: 21px;
}

h3 {
    color: #596e79;
    margin: 0;
}

h4 {
    color: #596e79;
    margin: 0 0 10px;
}

.displayed-cities {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed rgb(223, 211, 195, 0.5);
    padding: 7px;
}

footer {
    color: #c7b198;
    font-size: 17px;
    line-height: 11px;
}